Code/U9.VOB.Cus.HBHDaYunsy.PlugInBE/Web References/DMS_SI08/SI08ImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.sales.ws.org.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SI08ImplService" targetNamespace="http://server.sales.ws.org.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.sales.ws.org.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="baseDto">
        <xs:sequence>
          <xs:element name="actionType" type="xs:int" />
          <xs:element minOccurs="0" name="errMsg" type="xs:string" />
          <xs:element name="flag" type="xs:int" />
          <xs:element minOccurs="0" name="invokeTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dealerInfoDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="companyCode" type="xs:string" />
              <xs:element minOccurs="0" name="companyName" type="xs:string" />
              <xs:element minOccurs="0" name="companyShortName" type="xs:string" />
              <xs:element minOccurs="0" name="dealerCode" type="xs:string" />
              <xs:element minOccurs="0" name="dealerName" type="xs:string" />
              <xs:element minOccurs="0" name="dealerShortName" type="xs:string" />
              <xs:element name="dealerType" type="xs:int" />
              <xs:element minOccurs="0" name="status" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="receive" type="tns:receive" />
      <xs:complexType name="receive">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:dealerInfoDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="receiveResponse" type="tns:receiveResponse" />
      <xs:complexType name="receiveResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:dealerInfoDto" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="receive">
    <wsdl:part name="parameters" element="tns:receive" />
  </wsdl:message>
  <wsdl:message name="receiveResponse">
    <wsdl:part name="parameters" element="tns:receiveResponse" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="SI08">
    <wsdl:operation name="receive">
      <wsdl:input name="receive" message="tns:receive" />
      <wsdl:output name="receiveResponse" message="tns:receiveResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI08ImplServiceSoapBinding" type="tns:SI08">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="receive">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="receive">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="receiveResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI08ImplService">
    <wsdl:port name="SI08ImplPort" binding="tns:SI08ImplServiceSoapBinding">
      <soap:address location="http://10.3.21.115:8080/hbfcdms/ws/SI08" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>