Code/U9.VOB.Cus.HBHDaYunsy.PlugInBE/Web References/DMS_SI01/SI01ImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.sale.ws.org.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SI01ImplService" targetNamespace="http://server.sale.ws.org.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.sale.ws.org.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="baseDto">
        <xs:sequence>
          <xs:element name="actionType" type="xs:int" />
          <xs:element minOccurs="0" name="errMsg" type="xs:string" />
          <xs:element name="flag" type="xs:int" />
          <xs:element minOccurs="0" name="invokeTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mesDataTmpDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="bomdm" type="xs:string" />
              <xs:element minOccurs="0" name="gysdm" type="xs:string" />
              <xs:element minOccurs="0" name="pch" type="xs:string" />
              <xs:element minOccurs="0" name="pjtm" type="xs:string" />
              <xs:element minOccurs="0" name="vin" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="receive" type="tns:receive" />
      <xs:complexType name="receive">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:mesDataTmpDto" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="receiveResponse" type="tns:receiveResponse" />
      <xs:complexType name="receiveResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:mesDataTmpDto" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="receiveResponse">
    <wsdl:part name="parameters" element="tns:receiveResponse" />
  </wsdl:message>
  <wsdl:message name="receive">
    <wsdl:part name="parameters" element="tns:receive" />
  </wsdl:message>
  <wsdl:portType name="SI01">
    <wsdl:operation name="receive">
      <wsdl:input name="receive" message="tns:receive" />
      <wsdl:output name="receiveResponse" message="tns:receiveResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI01ImplServiceSoapBinding" type="tns:SI01">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="receive">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="receive">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="receiveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI01ImplService">
    <wsdl:port name="SI01ImplPort" binding="tns:SI01ImplServiceSoapBinding">
      <soap:address location="http://scisoft.eicp.net:9080/hbdyepc/ws/SI01" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>